* {
  font-family: 'Nanum Myeongjo', serif;
  /* background-color: white;
  mix-blend-mode: difference; */
  color: #fff;
}

*::selection {
  background-color: transparent;
}

img {
  -webkit-user-drag: none;
}

p {
  color: rgb(0, 205, 198);
}

.top, .words, .project {
  mix-blend-mode: difference;
}

/* .container {
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(231,0,0);
  pointer-events: none;
} */

.top {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* mix-blend-mode: difference;
  background-color: white; */
}

.content {
  /* mix-blend-mode: difference;
  background-color: white; */
  @media (max-width: 575px) {
    font-size: 0.8rem;
  }
}

.project {
  position: fixed;
  top: 12%;
  left: 0%;
  transform: translate(0%, -50%);
  margin: 0 30px;
  /* mix-blend-mode: difference;
  background-color: white; */
}

.words {
  position: fixed;
  top: 95%;
  left: 0%;
  transform: translate(0%, -100%);
  margin: 0 30px;
}

.title__content {
  margin: 10px 0px;
  font-size: 5rem;
  @media (max-width: 575px) {
    font-size: 2.5rem;
  }
}

.words__content {
  font-size: 3rem;
  margin: 0;
  @media (max-width: 575px) {
    font-size: 1.8rem;
  }
}

/* .draggable {
  position: absolute;
  cursor: grab;
} */

.star01 {
  top: 23%;
  left: 90%;
}
.star02 {
  top: 19%;
  left: 59%;
}
.star03 {
  top: 60%;
  left: 20%;
}
.star04 {
  top: 3%;
  left: 28%;
}
.star05 {
  top: 10%;
  left: 82%;
}
.star06 {
  top: 6%;
  left: 10%;
}
.star07 {
  top: 90%;
  left: 30%;
}
.star08 {
  top: 80%;
  left: 20%;
}
.star09 {
  top: 70%;
  left: 72%;
}
.star10 {
  top: 80%;
  left: 42%;
}
.star11 {
  top: 50%;
  left: 72%;
}
.star12 {
  top: 40%;
  left: 22%;
}

.star__wrapper {
  position: absolute;
  z-index: 10;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  mix-blend-mode: difference;
}

/* .star__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
} */

.type {
  position: fixed;
  top: 4%;
  right: 0%;
  transform: translate(0%, -50%);
  margin: 0 30px;
}

.type__button {
  all: unset;
  text-decoration: underline;
  font-size: 1rem;
  @media (max-width: 575px) {
    font-size: 0.5rem;
  }
}